# Java
target/
*.class

# Maven
.mvn/

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store
``

# =============================
# Python
# =============================
venv/
.env
__pycache__/
*.pyc

# =============================
# Chatbot backend venv
# =============================
chatbotbackend/venv/

# =============================
# Node / Frontend
# =============================
node_modules/
dist/

# =============================
# OS
# =============================
.DS_Store
Thumbs.db