.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  border-radius: 12px;
  padding: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}